body {
	font-size: 64px;
	font-family: "Adobe Garamond Pro", Garamond, serif;
	text-transform: lowercase;
}

::first-letter {
	text-transform: uppercase;
}

nav {
	padding-top: 10px;
}

#output {
	padding: 0 20px;
}

#word {
	font: inherit;
	box-shadow: 0;
	outline: 0;
	border: 0;
	margin: 0;
	padding: 0 20px;
	width: 80%;
	color: gray;
}

#output > span {
	text-transform: capitalize;
}

.divide {
	color: magenta;
	font-size: 24px;
	display: block;
}

#counter {
	position: fixed;
	font-size: 24px;
	line-height: 400px;
	text-align: center;
	color: gray;
	right:0px;
	top: 0px;
	left: 0px;
	pointer-events: none;
}